<div class="lightbox" id="lightbox-1">
    <h2>References</h2>
    <ol>
        <li>OPSUMIT SmPC, March 2020. Available at: <a href="https://www.ema.europa.eu/en/documents/product-information/opsumit-epar-product-
    information_en.pdf" target="_blank">https://www.ema.europa.eu/en/documents/product-information/opsumit-epar-product-
    information_en.pdf (last accessed July 2020).</a></li>
        <li>UPTRAVI SmPC, February 2020. Available at: <a href="https://www.ema.europa.eu/en/documents/product-information/uptravi-epar-product-information_en.pdf" target="_blank">(last accessed July 2020).</a></li>
        <li>VELETRI SmPC, June 2018. Available at: <a href="https://www.medicines.org.uk/emc/product/3112/smpc" target="_blank">https://www.medicines.org.uk/emc/product/3112/smpc</a> (last accessed July 2020).</li>
        <li>Pulido T et al. N Engl J Med 2013; 369(9):809–818.</li>
        <li>Galiè N et al. Eur Heart J 2016; 37(1):67–119.</li>
    </ol>
    <a class="lightbox__close" href="#">X</a>
</div>

<div class="lightbox" id="lightbox-2">
    <div class="img-fill">
        <img src="../public/images/opsumit/pi.jpg" alt="PI">
    </div>
    <a class="lightbox__close" href="#">X</a>
</div>
<div class="lightbox" id="lightbox-seraphin_01">
    <div class="img-fill">
        <img src="../public/images/opsumit/im_seraphin_study_design_01.jpg" alt="Seraphin">
    </div>
    <a class="lightbox__close" href="#">X</a>
</div>
<div class="lightbox" id="lightbox-optima">
    <div class="img-fill">
        <img src="../public/images/opsumit/im_optima_study_design_01.jpg" alt="Optima">
    </div>
    <a class="lightbox__close" href="#">X</a>
</div>