<div class="lightbox" id="lightbox-1">
    <h2>References</h2>
    <ol>
        <li>Pulido T et al. N Engl J Med 2013; 369(9):809–818.</li>
        <li>McLaughlin V et al. Poster presented at International Society for Pharmacoeconomics and Outcomes Research Conference;
        19–23 May 2018;
        Baltimore, MD, USA.</li>
        <li>Mehta S et al. Chest 2017; 151(1):106–118.</li>
    </ol>
    <a class="lightbox__close" href="#">X</a>
</div>

<div class="lightbox" id="lightbox-2">
    <div class="img-fill">
        <img src="../public/images/opsumit/pi.jpg" alt="PI">
    </div>
    <a class="lightbox__close" href="#">X</a>
</div>
<div class="lightbox" id="lightbox-seraphin_01">
    <div class="img-fill">
        <img src="../public/images/opsumit/im_seraphin_study_design_01.jpg" alt="Seraphin">
    </div>
    <a class="lightbox__close" href="#">X</a>
</div>
<div class="lightbox" id="lightbox-optima">
    <div class="img-fill">
        <img src="../public/images/opsumit/im_optima_study_design_01.jpg" alt="Optima">
    </div>
    <a class="lightbox__close" href="#">X</a>
</div>