.slideshow
{
    display: flex;
    flex-direction: column;
    flex: 1;
    nav
    {
        position: absolute;
        width: 100%;
        height: 50px;
        ul
        {
            display:flex;
            height:100%;
            width:100%;
            margin:0;
            padding:0;
            flex:0 1;
            li
            {
                width:33.333%;
                list-style: none;
                $border-width:1px;
                a
                {
                    position: relative;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    width:100%;
                    height:100%;
                    border:$border-width solid $purple;
                    background:#FFFFFF;
                    font-family: MyriadPro-BoldCond;
                    font-size:18px;
                    color:$purple;
                    text-transform: uppercase;
                    &:hover {text-decoration: none;}
                    &.active
                    {
                        background:$purple;
                        color:#FFFFFF;
                        &:after
                        {
                            content:"";
                            position: absolute;
                            bottom:-11px;
                            right:0;
                            $arrowsize: 10px;
                            border-top: $arrowsize solid $purple;
                            border-left: $arrowsize solid transparent;
                            border-right: $arrowsize solid transparent;
                        }
                    }
                }
                &:first-child a
                {
                    border-width:$border-width 0 $border-width $border-width;
                }
                &:last-child a
                {
                    border-width:$border-width $border-width $border-width 0;
                }
            }
        }
    }
    .slides
    {
        // background:Red;
        flex: 1;
        background-repeat:no-repeat;
    }
}