#page04
{
    .global-container
    {
        .content
        {
            // margin:0 -4%;
            background-image: url(../images/opsumit/opsumit_4_sustained_long_term_beneficial.jpg);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 84%;
        }
        .menu-container
        {
            .sidebar-image
            {
                width: 76%;
                background-image: url(../images/opsumit/im_sidebar_woman_02.png);
                margin-bottom:3px;
            }
        }
    }
}