#page01
{
    .home-page
    {
        background-image: url(../images/opsumit/opsumit_1_home.jpg);
        height: 768px;
        .home-start-btn
        {
            cursor: pointer;
            position: absolute;
            top: 44%;
            right: 0%;
            height: 121px;
            width: 120px;
        }
    }
}