#page08
{
    .global-container
    {
        .content
        {
            // margin:0 -4%;
            background-image: url(../images/opsumit/opsumit_8_reassuring_your_pah_patient.jpg);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 94%;
        }
    }
}