#page07
{
    .global-container
    {
        .content
        {
            // margin:0 -4%;
            background-image: url(../images/opsumit/opsumit_7_maintaining_your_pah_patients_health.png);
            background-repeat: no-repeat;
            background-position: 5% center;
            background-size: 68%;
        }
        .menu-container
        {
            .sidebar-image
            {
                width: 77%;
                background-image: url(../images/opsumit/im_sidebar_woman_01.png);
                margin-bottom:1px;
            }
        }
    }
}