#page03
{
    .global-container
    {
        .content
        {
            margin:0 -4%;
            background-image: url(../images/opsumit/opsumit_2_menu_slide_content.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size:100%;
        }
    }
}