#page05
{
    .global-container
    {
        .content
        {
            // margin:0 -4%;
            background-image: url(../images/opsumit/opsumit_5_protecting_your_pah_patient_content.png);
            background-repeat: no-repeat;
            background-position: 36% center;
            background-size: 68%;
        }
    }
}