#page02
{
    .global-container
    {
        .content
        {
            // background-image: url(../images/opsumit/opsumit_2_menu_slide_body.png);
            background-repeat: no-repeat;
            background-position: center center;
        }
        nav
        {
            position:absolute;
            width: 100%;
            height: 100%;
            top: 16%;
            .left
            {
                float:left;
                width:49%;
                height:100%;
                margin-right: 2.5%;
            }
            .right
            {
                float:left;
                width:48.5%;
                height:100%;
            }
            a
            {
                display:flex;
                align-items: center;
                // justify-content: center;
                padding-left:100px;
                overflow: hidden;
                position:relative;
                width: 100%;
                height: 69px;
                margin-bottom: 6.5%;
                border-left: 2px solid $red;
                font-family: Opsumit-Bold;
                font-size:18px;
                line-height:24px;
                text-transform: uppercase;
                color:#000;
                @include transition(all .2s ease);
                @include scale(1.0001);
                &:hover
                {
                    text-decoration: none;
                }
                &:active
                {
                    @include scale(.95);
                }
                sup
                {
                    top: -1.5em;
                }
                &:after,
                &:before {
                    position: absolute;
                    content: '';
                    width: calc(100% - 2px);
                    left: 0px;
                    z-index: -1;
                }
                &:before
                {
                    height: calc(80% - 4px);
                    top: 0px;
                    border: 2px solid $red;
                    border-width: 2px 2px 0px 0px;
                }
                &:after
                {
                    height: 27%;
                    bottom: 0px;
                    border: 2px solid $red;
                    border-width: 0 3px 2px 0px;
                    transform: skew(-45deg);
                    transform-origin: right top;
                }
                span.cta-number
                {
                    position: absolute;
                    top:0;
                    left:0;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Opsumit-Bold;
                    color:#FFF;
                    background:$red;
                    font-weight:bold;
                    font-size:50px;
                    width:80px;
                    height:100%;
                }
            }
        }
    }
}