#page09
{
    .global-container
    {
        .content
        {
            // margin:0 -4%;
            background-image: url(../images/opsumit/opsumit_9_caring_for_your_pah_patient_with_opsumit.jpg);
            background-repeat: no-repeat;
            background-position: 5% center;
            background-size: 78%;
        }
        .menu-container
        {
            .sidebar-image
            {
                width: 97%;
                background-image: url(../images/opsumit/im_sidebar_man_01.png);
                margin-bottom:1px;
                min-height: 600px;
                background-size: 120% auto;
                background-position: 5% center;
            }
        }
    }
}