#page_template
{
    .menu-container
    {
        .sidebar-image
        {
            width: 84%;
            background-image: url(../images/opsumit/im_sidebar_woman_01.png);
        }
    }
    .content
    {
        .slideshow
        {
            .slides
            {
                &.slide-01 {
                    background-size: 82%;
                    background-position: center 103%;
                    background-image: url(../images/opsumit/opsumit_6_keeping_your_pah_patient_out_hospital_slide_01.jpg);
                }
                &.slide-02 {
                    background-size: 82%;
                    background-position: center 103%;
                    background-image: url(../images/opsumit/opsumit_6_keeping_your_pah_patient_out_hospital_slide_02.jpg);
                }
                &.slide-03 {
                    background-size: 90%;
                    background-position: center 130%;
                    background-image: url(../images/opsumit/opsumit_6_keeping_your_pah_patient_out_hospital_slide_03.jpg);
                }
            }
        }
    }
}