<div class="lightbox" id="lightbox-1">
    <h2>References</h2>
    <ol>
        <li>Pulido T et al. N Engl J Med 2013; 369(9):809–818.</li>
        <li>Mehta S et al. Chest 2017; 151(1):106–118.</li>
        <li>Channick RN et al. JACC Heart Fail 2015; 3(1):1–8.</li>
        <li>Souza R et al. Presented at American Thoracic Society International Congress; 19–24 May 2017;
            Washington
            DC, USA (Poster no. 6830).</li>
        <li>OPSUMIT SmPC, 2020.</li>
        <li>Sitbon O et al. Eur Respir J 2020; doi:10.1183/13993003.00673-2020.</li>
    </ol>
    <a class="lightbox__close" href="#">X</a>
</div>

<div class="lightbox" id="lightbox-2">
    <div class="img-fill">
        <img src="../public/images/opsumit/pi.jpg" alt="PI">
    </div>
    <a class="lightbox__close" href="#">X</a>
</div>