@font-face {
    font-family: Opsumit;
    src: url("../fonts/Opsumit.otf") format("opentype");
}
@font-face {
    font-family: Opsumit-Bold;
    src: url("../fonts/Opsumit-Bold.otf") format("opentype");
}
@font-face {
    font-family: Opsumit-Heavy;
    src: url("../fonts/Opsumit-Heavy.otf") format("opentype");
}
@font-face {
    font-family: DINOT;
    src: url("../fonts/DINOT.otf") format("opentype");
}
@font-face {
    font-family: DINOT-Bold;
    src: url("../fonts/DINOT-Bold.otf") format("opentype");
}
@font-face {
    font-family: DINOT-Italic;
    src: url("../fonts/DINOT-Italic.otf") format("opentype");
}

@font-face {
    font-family: MinionPro-Regular;
    src: url("../fonts/MinionPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: MyriadPro-It;
    src: url("../fonts/MyriadPro-It.otf") format("opentype");
}
@font-face {
    font-family: MyriadPro-Regular;
    src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: MyriadPro-Cond;
    src: url("../fonts/MyriadPro-Cond.otf") format("opentype");
}
@font-face {
    font-family: MyriadPro-Bold;
    src: url("../fonts/MyriadPro-Bold.otf") format("opentype");
}
@font-face {
    font-family: MyriadPro-BoldCond;
    src: url("../fonts/MyriadPro-BoldCond.otf") format("opentype");
}
h1 sup, h2 sup, h3 sup {
    font-size: 75%;
}
h1 {
    font-family: MyriadPro-BoldCond;
    color: #df0047;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-family: MyriadPro-Regular;
    font-size: 17px;
    color: #4c4c4b;
}

h3 {
    font-family: Opsumit;
    color: #df0047;
    border-top: 1px solid #df0047;
    padding-top: 15px;
}