.header-type-set {
    color: #ffffff; 
    font-family: Opsumit-Bold, sans-serif;
    font-size: 29px;
    line-height: 1.3;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.header-aligner-1,
.header-aligner-2
{
    height: 124px;
    padding-left: 55px;
    display:flex;
    align-items: center;
}

.header-type-1 {
    background-image: url(../images/opsumit/header-bg-type1.jpg);
    
}
.header-type-2 {
    background-image: url(../images/opsumit/header-bg-type2.jpg);
}
