.lightbox
{
    background: #fff;
    opacity: 0;
    padding: 60px 40px 0 40px;
    visibility: hidden;
    width: 90%;
    height: 600px;
    position: absolute; top: 4rem; left: 40%; margin-left: -35%;
    transition: all 0.2s ease;
    z-index:2;
    a
    {
        color:#424242;
        text-decoration: underline;
    }
    a.lightbox__close
    {
        background: #fff;
        color: #de0047;
        display: block;
        font-weight: bold;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        text-decoration: none;
        width: 3rem;
        position: absolute; top:0; right:0;
    }
    &:target
    {
        opacity: 1;
        visibility: visible;
    }
    h2
    {
        font-family: Opsumit-Bold;
        color:$red;
        font-size:24px;
        text-transform: uppercase;
    }
    .img-fill
    {
        display:block;
        width:100%;
        img {width:100%}
    }
    &#lightbox-seraphin_01,
    &#lightbox-seraphin_02,
    &#lightbox-optima
    {
        .img-fill
        {
            height:90%;
            text-align: center;
            img
            {
                width:auto;
                height:100%;
            }
        }
    }
}

.PI-aligner {
    margin-left: 60px;
}