/* common */
body
{
    background-color: #f4f4f4;
}

.global-container
{
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    position: relative;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    .content-container
    {
        position:relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 30px 50px 0 50px;
        .content-title
        {
            h1 {text-transform: uppercase;}
        }
        .content
        {
            display: flex;
            flex-direction: column;
            flex:1;
        }
    }
    .secondary-body-content {
        width: 670px;
        margin: 18px 40px 10px 50px;
        h3 {text-transform: uppercase;}
    }
}




