.menu-container
{
    // width: 1024px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin:0;
    ul.sidebar-menu
    {
        padding:0;
        margin:0;
        margin-bottom:1px;
        display:flex;
        flex-direction:column-reverse;
        li
        {
            position: relative;
            padding:0;
            margin:0;
            list-style: none;
            margin-bottom:2px;
            $var: 15;
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    left: #{$var * $i + 2}px;
                    .cta
                    {
                        padding-right: #{$var * $i + 55}px;
                    }
                }
            }
            &:before
            {
                content:"";
                position: absolute;
                height:100%;
                left:0;
                bottom:0;
                background: $red;
                border-bottom: 3px solid $red;
                border-right: 8px solid $red;
                transform-origin: bottom left;
                -ms-transform: skew(-15deg, 0deg);
                -webkit-transform: skew(-15deg, 0deg);
                transform: skew(-15deg, 0deg);
            }
            .cta
            {
                position: relative;
                display: flex;
                align-items:center;
                justify-content: flex-end;
                padding-right:60px;
                text-align: right;
                height: 55px;
                // background:$red;
                margin-left:25px;
                font-family: Opsumit-Bold;
                text-transform: uppercase;
                font-size:14px;
                letter-spacing: 1px;
                color:#FFFFFF;
                backface-visibility: hidden;
                @include transition(all .2s ease);
                // @include scale(1.0001);
                &:before
                {
                    content:"";
                    width: 100%;
                    position: absolute;
                    border-style:solid;
                    bottom:0;
                    left:-15px;
                    border-style:solid;
                    border-width:0px 0px 55px 15px;
                    border-color:transparent $red $red transparent;
                    backface-visibility: hidden;
                    // @include scale(1.0001);
                }
                &:hover
                {
                    text-decoration: none;
                }
                &:active
                {
                    @include scale(0.95);
                }
                &.cta-lightblue
                {
                    // background:$lightblue;
                    &:before
                    {
                        border-color:transparent $lightblue $lightblue transparent;
                    }
                }
                &.cta-blue
                {
                    // background:$blue;
                    &:before
                    {
                        border-color:transparent $blue $blue transparent;
                    }
                }
                span
                {
                    display:block;
                    position: relative;
                    z-index: 2;
                    &:after
                    {
                        content:"";
                        position: absolute;
                        right:-15px;
                        width: 0; 
                        height: 0;
                        top:50%;
                        transform: translateY(-50%);
                        $arrowsize: 7px;
                        border-top: $arrowsize solid transparent;
                        border-bottom: $arrowsize solid transparent;
                        border-left: $arrowsize solid #FFFFFF;
                    }
                }
            }
        }
    }
    ul.footer-menu
    {
        margin: 0;
        padding: 0;
        li
        {
            display: inline-block;
            // margin-right: 2px;
            &:last-of-type a
            {
                width:85px;
                .icon
                {
                    transform: translateX(-70%) translateY(-50%);
                }
            }
            a
            {
                position: relative;
                text-indent: -9999px;
                width: 80px;
                height:55px;
                display: inline-block;
                // margin-left: 10px;
                // background:#E1E1E1;
                margin-right: -17px;
                @include transition(all .2s ease);
                // @include scale(1.0001);
                &:active
                {
                    @include scale(0.9);
                }
                &:before
                {
                    content: '';
                    line-height: 0;
                    font-size: 0;
                    width: 50px;
                    height: 0;
                    border-style:solid;
                    border-width:0px 0px 55px 15px;
                    border-color:transparent $red $red transparent;
                    position: absolute;
                    top: 0;
                    left: 0;
                    backface-visibility: hidden;
                }                
                &:after
                {
                    content: '';
                    line-height: 0;
                    font-size: 0;
                    width: 50px;
                    height: 0;
                    border-style:solid;
                    // border-width:70px 20px 0px 0;
                    border-width:55px 15px 0px 0px;
                    border-color:$red transparent transparent transparent;
                    position: absolute;
                    top: 0;
                    right: 0;
                    backface-visibility: hidden;
                }
                .icon
                {
                    display: block;
                    position: absolute;
                    transform: translateX(-50%) translateY(-50%);
                    top: 50%;
                    left: 50%;
                    z-index:2;
                    background-size:cover;
                    &.icon-footer-
                    {
                        &r
                        {
                            width: 15px;
                            height: 23px;
                            background-image: url(../images/footer/im_icon_footer_r.gif);
                        }
                        &pi
                        {
                            width: 19px;
                            height: 23px;
                            background-image: url(../images/footer/im_icon_footer_pi.gif);
                        }
                        &menu
                        {
                            width: 30px;
                            height: 20px;
                            background-image: url(../images/footer/im_icon_footer_menu.gif);
                        }
                        &home
                        {
                            width: 29px;
                            height: 30px;
                            background-image: url(../images/footer/im_icon_footer_home.gif);
                        }
                    }
                }
            }
        }
    }
    .sidebar-image
    {
        // background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom right;
        min-height: 540px;
        background-size: 100% auto;
        margin-left: auto;
        // background-image: url(../images/opsumit/im_sidebar_woman_01.png);
        // .im_sidebar_woman_01.png
    }
}