<div class="lightbox" id="lightbox-1">
    <h2>References</h2>
    <ol>
        <li>Mehta S et al. Chest 2017; 151(1):106–118.</li>
        <li>Channick RN et al. JACC Heart Fail 2015; 3(1):1–8.</li>
        <li>Channick R et al. Poster presented at the 39th International Society for Heart and Lung Transplantation Congress; 3–6
        April 2019; Orlando, FL, USA
        (Poster no. 1235).</li>
        <li>Pulido T et al. N Engl J Med 2013; 369(9):809–818.</li>
        <li>McLaughlin V et al. Chest 2019; 156(4):A874–A876.</li>
    </ol>
    <a class="lightbox__close" href="#">X</a>
</div>

<div class="lightbox" id="lightbox-2">
    <div class="img-fill">
        <img src="../public/images/opsumit/pi.jpg" alt="PI">
    </div>
    <a class="lightbox__close" href="#">X</a>
</div>
<div class="lightbox" id="lightbox-seraphin_01">
    <div class="img-fill">
        <img src="../public/images/opsumit/im_seraphin_study_design_01.jpg" alt="Seraphin">
    </div>
    <a class="lightbox__close" href="#">X</a>
</div>
<div class="lightbox" id="lightbox-optima">
    <div class="img-fill">
        <img src="../public/images/opsumit/im_optima_study_design_01.jpg" alt="Optima">
    </div>
    <a class="lightbox__close" href="#">X</a>
</div>