<div class="lightbox" id="lightbox-1">
    <h2>References</h2>
    <ol>
        <li>Pulido T et al. N Engl J Med 2013; 369(9):809–818.</li>
        <li>Souza R et al. Presented at American Thoracic Society International Congress; 19–24 May 2017; Washington DC, USA
        (Poster no. 6830).</li>
        <li>Galiè N et al. Eur Heart J 2016; 37:67–119.</li>
        <li>OPSUMIT SmPC, March 2020. Available at:
        <a href="https://www.ema.europa.eu/en/documents/product-information/opsumit-epar-product-information_en.pdf" target="_blank">https://www.ema.europa.eu/en/documents/product-information/opsumit-epar-product-information_en.pdf</a> (last accessed July
        2020).</li>
        <li>Galiè N et al. Eur Heart J 2017; 38(15):1147–1155.</li>
        <li>Pulido T et al. N Engl J Med 2013; 369(9):809–818 (supplementary appendix).</li>
        <li>Chin K et al. Poster presented at the CHEST Annual Meeting; 19–23 October 2019; New Orleans, LA, USA (Poster no.
        M361).</li>
        <li>McLaughlin V et al. Oral presentation at the CHEST Annual Meeting; 19–23 October 2019; New Orleans, LA, USA.</li>
        <li>Channick R et al. Poster presented at the 39th International Society for Heart and Lung Transplantation Congress; 3–6
        April 2019; Orlando, FL, USA (Poster no. 1235).</li>
        <li>Rajagopal S et al. Poster presented at American College of Cardiology's 69th Annual Scientific Session; 28–30 March
        2020;
        Chicago, IL, USA (Poster no. 1255-053).</li>
        <li>McLaughlin V et al. Poster presented at International Society for Pharmacoeconomics and Outcomes Research
        Conference; 19–23 May 2018; Baltimore, MD, USA.</li>
    </ol>
    <a class="lightbox__close" href="#">X</a>
</div>

<div class="lightbox" id="lightbox-2">
    <div class="img-fill">
        <img src="../public/images/opsumit/pi.jpg" alt="PI">
    </div>
    <a class="lightbox__close" href="#">X</a>
</div>
<div class="lightbox" id="lightbox-seraphin_01">
    <div class="img-fill">
        <img src="../public/images/opsumit/im_seraphin_study_design_01.jpg" alt="Seraphin">
    </div>
    <a class="lightbox__close" href="#">X</a>
</div>
<div class="lightbox" id="lightbox-optima">
    <div class="img-fill">
        <img src="../public/images/opsumit/im_optima_study_design_01.jpg" alt="Optima">
    </div>
    <a class="lightbox__close" href="#">X</a>
</div>